@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');

body {
 /* ff 3.6+ */
 background:-moz-linear-gradient(90deg, rgb(238, 242, 238) 1%, rgb(74, 45, 2) 100%); 

 /* safari 5.1+,chrome 10+ */
 background:-webkit-linear-gradient(90deg, rgb(238, 242, 238) 1%, rgb(74, 45, 2) 100%);

 /* opera 11.10+ */
 background:-o-linear-gradient(90deg, rgb(238, 242, 238) 1%, rgb(74, 45, 2) 100%);

 /* ie 6-9 */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03564F', endColorstr='#010301', GradientType=0 );

 /* ie 10+ */
 background:-ms-linear-gradient(90deg, rgb(238, 242, 238) 1%, rgb(74, 45, 2) 100%);

 /* global 94%+ browsers support */
 background:linear-gradient(90deg, rgb(255, 255, 255) 1%, rgb(35, 34, 32) 100%);

 margin: 0;
 font-family: 'Emilys Candy', cursive;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
 color:slategray

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

